@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

.h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 120px;
    font-weight: 300;
    color: white;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.h1:hover {
    color: black;
}

.h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    font-weight: 300;
    color: white;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.h2:hover {
    color: black;
}

.h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: white;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.h3:hover {
    color: black;
    text-decoration: none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

table {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

a:hover {
    color: black;
    text-decoration: none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
